@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-cols-3 {
    width: 100vw;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}
.max-w-md {
    max-width: 100vw;
}
.overflow-auto {
    overflow: hidden;
}
body::-webkit-scrollbar {
    width: 8px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: #fcf7fc;    /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #FF5B6B;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 1px solid #120F82;  /* creates padding around scroll thumb */
  }
            